@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");

/*
! ---------------------------------------------------------------------------------------------------------------------- VARIABLES */
$red: #cc0000;
$rate: calc(1920 / 1440);
$max-width: calc(1300 / 1440) * 100%;
$space: calc((100% - $max-width) / 2);
/*
! ---------------------------------------------------------------------------------------------------------------------- end VARIABLES */
/* 
* ---------------------------------------------------------------------------------------------------------------------- COMMON */
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #fff;
}
/*
* ---------------------------------------------------------------------------------------------------------------------- end COMMON */

/* 
? ---------------------------------------------------------------------------------------------------------------------- HEADER */
header {
    .navbar {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
        padding: 28px 0;
        .container-fluid {
            padding: 0%;
            max-width: $max-width;
            .navbar-brand {
            }
            .navbar-collapse {
                form {
                    button[type="button"] {
                        border-radius: 0%;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        /* identical to box height, or 150% */
                        display: flex;
                        align-items: center;
                        letter-spacing: -0.03em;
                        text-transform: uppercase;
                        &:hover {
                            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #cc0000;
                            color: white;
                            border: 2px solid transparent;
                        }
                        &.blacked-text {
                            color: #000;
                            border: 2px solid #000;
                            &:hover {
                                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #cc0000;
                                color: white;
                                border: 2px solid transparent;
                            }
                        }
                    }
                }
                .navbar-nav {
                    column-gap: 30px;
                    .nav-item {
                        .nav-link {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 24px;
                            /* identical to box height, or 150% */
                            letter-spacing: -0.01em;
                            color: white;
                            border-bottom: 2px solid transparent;
                            &:hover {
                                border-bottom: 2px solid $red;
                            }
                            &.blacked-text {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
        &.scrolled {
            background: #fff !important;
            transition: background 500ms linear;
        }
    }
    .nav-blend-mode {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        top: 0%;
        height: 102px;
        display: block;
    }
}
/*
? ---------------------------------------------------------------------------------------------------------------------- end HEADER */

/* 
? ---------------------------------------------------------------------------------------------------------------------- MAIN */
main {
    section {
        .video-section-bg {
            height: calc(810px * $rate);
            position: relative;
            video {
                max-width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .blend-mode {
            position: absolute;
            top: 0%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
            height: calc(810px * $rate);
            width: 100%;
        }
        .video-text {
            position: absolute;
            bottom: 90px;
            left: $space;
            color: white;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 60px;
            /* or 125% */
            letter-spacing: -1px;
            span {
                color: $red;
            }
        }
        .row {
            max-width: 100%;
        }
    }
    #video-top {
        position: relative;
        #light-accent {
            height: 100%;
            position: absolute;
            right: 0%;
            top: 0%;
        }
    }
}

/* 
? ---------------------------------------------------------------------------------------------------------------------- end MAIN */
